<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DataAccess" value="SqlServerDataAccess" />
    <add key="ModelClassNamePrefix" value="Model" />
    <add key="ModelsNamespace" value="" />
    <add key="LogicNamespace" value="Library.Logics.DAL.{0}" />
    <add key="LogicClassNamePrefix" value="Logic" />
    <add key="FacadeNamespace" value="Library.Facades.{0}" />
    <add key="FacadeClassPrefix" value="Facade" />
    <add key="SqlTablePrefix" value="" />
    <add key="SqlParameterPrefix" value="" />
    <add key="SqlProcedurePrefix" value="usp_" />
    <add key="SqlSelectAll" value="True" />
    <add key="SqlSelectPager" value="True" />
    <add key="SqlInsertUpdate" value="True" />
    <add key="SqlSelectDetail" value="True" />
    <add key="SqlUpdateStatus" value="True" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="OracleDataAccess" connectionString="Data Source=128;Persist Security Info=True;User ID=BKONLINESYS;Password=BKONLINESYS" providerName="System.Data.OracleClient" />
    <add name="SqlServerDataAccess" connectionString="Data Source='10.254.0.4';Initial Catalog=master;User ID=sa;Password=-pl,0okm" providerName="System.Data.SqlClient" />
    <!--<add name="SqlServerDataAccess" connectionString="Data Source='127.0.0.1';Initial Catalog=master;User ID=sa;Password=u.7PRw_e*SuAR3cQOBW_V5_IC" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>